{% extends 'base_index.html.twig' %}

{% block title %}Inscription - Solitude accompnée{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 m-auto">
            {# Formulaire création de compte et mise en forme#}
            <h2 style="margin-top: 20px; font-family: Moon">Creation de compte</h2>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            <div class="form-row">
                <div class="col-md-6">
                {{ form_row(registrationForm.firstname) }}</div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.lastname) }}</div>
            </div>
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.dateofbirth) }}

            <button type="submit" class="btn btn-index" >Créer votre compte</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
