{% extends 'base_index.html.twig' %}

{% block title %}Inscription - Solitude accompnée{% endblock %}

{% block body %}
    <h1 class="title-style" style="margin-top: 20px">Création de votre compte : </h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.dateofbirth) }}

    <button type="submit" class="btn btn-index" >Créer ton compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
