{% extends 'base.html.twig' %}

{% block title %}
    {{ category.label }} - {{ parent() }}

{% endblock %}

{% block body %}
    <div class="container mt-3 text-center">
        <div class="row justify-content-center">
            <div class="col-md-12" id="grid-column">
                <div class="jumbotron p-0 ">
                    {# Jumbotron détail d'une ville#}
                    <div class="view overlay rounded-top">
                        <img src="{{ asset('uploads/categories/' ~ category.headerphoto) }}" width="1080" height="350" class="bg-cover" alt="Sample image">
                        <div>
                            <div class="mask rgba-white-slight"></div>
                        </div>
                    </div>

                    <div class="card-body text-center mb-3">

                        <h3 class="card-title h3 my-4 global-title" ><strong>{{category.label}}</strong></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
<main class="container">
    <h2 class="h2-responsive margin-activity"  > Toutes les activités dans la catégorie "{{ category.label }}"
        {% set count = 0 %}
        {% for activity in category.activities %}

            {% if "now"|date('Y-m-d') <=  activity.eventdate|date('Y-m-d') %}
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}
        ({{ count }} {% if count > 1 %} résultats{% else %} résultat{% endif %})</h2>

    <section class="row">
        {# Affichage de toutes les activités qui concernent la catégorie#}
        {% for activity in category.activities |sort((a, b) => a.eventdate <=> b.eventdate) %}
            {% if "now"|date('Y-m-d') <=  activity.eventdate|date('Y-m-d') %}
            <div class="col-md-6 col-lg-4 ">

                    {% include 'activity/_card.html.twig' with {'activity': activity} only %}

            </div>
            {% endif %}
        {% endfor %}
    </section>
</main>

{% endblock %}
