<div class="card_activity " style="margin-top: 20px" aria-labelledby="event card">
    <div class="card_activity__filter">
        {# Affichage de la photo de la catégorie concerné par l'activité#}
        <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}" class="card_activity__photo"
         alt="{{ activity.title }}">
    </div>
    <div class="card_activity__container">
        {# Affichage du titre de l'activité#}
        <h4 class="card-title">{{ activity.title }}</h4>
        {# Affichage de la date de création de l'activité#}
        <time> Créé le : {{ activity.CreatedAt|date ("d/m/Y") }} </time>
        {# Affichage de l'adresse de l'activité'#}
        <p>{{ activity.address }}</p><br>
        {# badge catégorie et date de l'activité#}
        <span class="badge badge-pill badge-primary"  title="Catégorie">
                        <i class="fa fa-tag" style="margin-right: 10px"></i>{{ activity.category.label }}
                    </span><br>
        <span class="badge badge-pill badge-info" title="Date de l'activité">
                        <i class="fa fa-calendar" style="margin-right: 10px"></i>
                        {{ activity.eventdate|date('d/m/Y') }}
                    </span>
        {# Bouton détail de l'activité#}
        <div class="card_activity__buttons">
            <a href="{{ path('activity_show', {'slug': activity.slug} )}}" class="card_activity__buttons btn primary" role="button" aria-haspopup="false">
                Details
                <div class="card__fill"></div>
            </a>

        </div>
    </div>



</div>



