<div class="card margin-activity" aria-labelledby="event card">
    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        {# Affichage de la photo de la catégorie concerné par l'activité#}
        <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}" class="img-fluid"
         alt="{{ activity.title }}">
    </div>
    <div class="card-body">
        {# Affichage du titre de l'activité#}
        <h4 class="card-title">{{ activity.title }}</h4>
        {# Affichage de l'adresse de l'activité'#}
        <p>{{ activity.address }}</p><br>
        {# badge catégorie et date de l'activité#}
        <span class="badge badge-pill badge-primary"  title="Catégorie">
                        <i class="fa fa-tag margin-icon1"></i>{{ activity.category.label }}
                    </span><br>
        <span class="badge badge-pill badge-info" title="Date de l'activité">
                        <i class="fa fa-calendar margin-icon1" ></i>
                        {{ activity.eventdate|date('d/m/Y') }}
                    </span>
            <a href="{{ path('activity_show', {'slug': activity.slug} )}}" class="btn btn-primary" role="button" aria-haspopup="false">
                Details
                <div class="card__fill"></div>
            </a>
    </div>
</div>



