{% extends 'base.html.twig' %}

{% block title %}Les activités - Solitude accompagnée{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 " style="margin-top: 15px">
                {# Bouton nouvelle activité #}
                <a class=" btn btn-home" href="{{ path('activity_new') }}" role="button">
                    <i class="fa fa-th-large"></i>
                    Créer une nouvelle activité
                </a>
            </div>
            <div class="offset-lg-2 col-lg-4 offset-md-2 col-md-5">
                <div class="row">
                    <div class="col-lg-9 col-md-10 col-sm-8 col-9">
                        <div class="form-group" >
                            {# bloc recherche d'activité par mot clé dans le titre #}
                            {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(searchForm) }}
                            {{ form_row(searchForm.title, {'label': " ", 'attr': {'placeholder': 'mot clé...'}}) }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-4 col-3" style="margin-top: 18px">
                        <button class="btn btn-index"><i class="fa fa-search"></i></button>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        {# boucle sur toutes les activités créées#}
        {% for activity in activities %}
            <div class="col-md-6 col-lg-4">
                {# Appel de mon template card d'une activité#}
                {% include 'activity/_card.html.twig'with {'activity' : activity} only %}
            </div>
        {% endfor %}
    </div>
    {# bloc pagination#}
    <div style="margin-top: 20px" class="col-mb-4 col-sm-12">
        {{ knp_pagination_render(activities) }}
    </div>
{% endblock %}
