{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Eventdate</th>
                <th>Created_at</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.eventdate ? activity.eventdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity.createdAt ? activity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity.address }}</td>
                <td>
                    <a href="{{ path('activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activity_new') }}">Create new</a>
{% endblock %}
