{% extends 'base.html.twig' %}

{% block title %}
    Solitude Accompagnée -
    {{ activity.title }}
{% endblock %}

{% block body %}

    <div class="col-detail-activity jumbotron text-center hoverable p-4">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">

                <!-- Featured image -->
                <div class="view overlay">
                    <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}"
                         class="img-fluid img-activity" alt="{{ activity.title }}">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>

                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">

                <!-- Excerpt -->
                <div class="green-text">
                    <span class="badge badge-pill badge-info" style="margin-right: 10px"><i
                                class="fa fa-calendar"></i> {{ activity.eventdate|date ('d-m-Y H:i') }}</span>

                    <span class="badge badge-pill badge-warning" style="margin-right: 10px"><i
                                class="fa fa-google-wallet"></i> {{ activity.category }}</span>

                    <span class="badge badge-pill badge-secondary"><i
                                class="fa fa-building"></i> {{ activity.city.label }}</span>
                </div>

                <h4 class="h4 mb-4" style="font-size: 30px; margin-top: 10px">{{ activity.title }}</h4>

                <p class="font-weight-normal">{{ activity.description }}</p>
                <h5 class="font-weight-bold">Adresse et/ou lieu de l'activité </h5>
                <p class="font-weight-normal">{{ activity.address }}</p>

                <h5 class="font-weight-bold">Contact </h5>
                <p class="font-weight-normal">Nom de l'hôte
                    : {{ activity.user.firstname }} {{ activity.user.lastname }}</p>
                <p class="font-weight-normal">Email de l'hôte : {{ activity.user.email }}</p>

                <div class="row">
                    <div >
                        <span class="js-label"
                              style="margin-left: 10px; font-family: Moon; color:black">Participer ? </span>

                        <a href="{{ path('activity_participation', {'id':activity.id}) }}" class="btn btn-home btn-participation js-participation
                            {% if app.user.id != activity.user.id %}
                                {% else %}
                                disabled
                                {% endif %}
                            {% if app.user and activity.participateByUser(app.user) and  activity.participations | length == activity.maxParticipants %}

                            {% elseif activity.participations | length == activity.maxParticipants %}
                                disabled
                            {% endif %}
                            ">

                            {% if app.user and activity.participateByUser(app.user) %}
                                <i class=" fa fa-times-circle"></i>

                            {% else %}
                                <i class="fa fa-check-circle"> </i>
                            {% endif %}
                            <span class="js-participations"> </span>

                        </a>
                    </div>
                    <div class="js-participation" style="margin-left: 20px">
                        <p class="font-weight-bold"> Nombre de participants</p>
                        <p class="js-participations"> {{ activity.participations | length }} / {{ activity.maxParticipants }}</p>
                    </div>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    {% if app.user != activity.user %}
    {% else %}
        <ul class="title-style">Liste des participants</ul>
        {% for participation in activity.participations %}
            <li class="js-user">{{ participation.user.firstname }} {{ participation.user.lastname }}</li>
            Contact : {{ participation.user.email }}
        {% endfor %}
    {% endif %}
    <hr>

    <a class="btn btn-lg btn-home" href="{{ path('comment_new', {'id': activity.id}) }}" role="button">
        <i class="fa fa-book"></i>
        Ajouter un commentaire
    </a>
    {% if activity.comments | length == 0  %}
    {% else %}
    <div class="row d-flex justify-content-center mt-100 mb-100">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title"style="font-family: Moon">Derniers commentaires</h4>
                </div>
                <div class="comment-widgets">
                    {% for comment in activity.comments %}
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2"><img {% if comment.user.profilPicture is null %} src="{{asset('uploads/users/picturedefault.png')}}" {% else %} src="{{asset('uploads/users/'~ comment.user.profilPicture)}}" {% endif %} alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">{{ comment.user.firstname }} {{ comment.user.lastname }}</h6> <span class="m-b-15 d-block">{{ comment.content }}</span>
                            <div class="comment-footer"> <span class="text-muted float-right">{{ comment.createdAt|date ("d/m/Y") }}</span>{% if app.user.id != comment.user.id %}
                            {% else %}
                                <div class="btn-comment">
                                    <a href="{{ path('comment_edit', {'id': comment.id} ) }}" class="btn btn-light-blue"><i style="color: white" class="fa fa-edit"></i></a>
                                    {{ include('comment/_delete_form.html.twig') }}
                                </div>
                                {% endif %}  </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
