{% extends 'base.html.twig' %}

{% block title %}
    Solitude Accompagnée -
    {{ activity.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}" alt="{{ activity.title }}"
                 class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1 class="title-style">{{ activity.title }}</h1>
            <div>

                <span class="badge badge-pill badge-info" title="Date de l'activité">
                    <i class="fa fa-calendar"></i>
                     {{ activity.eventdate|date ('d-m-Y H:i:s') }}
                </span>
                <span class="badge badge-pill badge-warning" title="Catégorie de l'activité">
                    <i class="fa fa-google-wallet"></i>
                    {{ activity.category }}
                </span>
                <span class="badge badge-pill badge-secondary" title="Ville de l'activité">
                    <i class="fa fa-building"></i>
                    {{ activity.city.label }}
                </span>
            </div><br>
            <h5>Description de l'activité :</h5>
            <p>{{ activity.description }}</p>

            <h5>Adresse et/ou lieu de l'activité :</h5>
            <p>{{ activity.address }}</p>

            <h5>Contact :</h5>
            <p>Nom de l'hôte : {{ activity.user.firstname }} {{ activity.user.lastname }}</p>
            <p>Email de l'hôte : {{ activity.user.email }}</p>
        </div>
    </div>

    <hr>

    <a class="btn btn-lg btn-home" href="{{ path('comment_new') }}" role="button">
        <i class="fa fa-book"></i>
        Ajouter un commentaire
    </a>

    <section class="list-group mt-4">

        {% for comment in activity.comments %}
            <article class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.title }}</h5>
                    <small>{{ comment.createdAt|date ("m/d/Y") }}</small>
                </div>
                <p class="mb-1"></p>
                <small>{{ comment.content }}</small>
            </article>
        {% endfor %}


    </section>
{% endblock %}
