{% extends 'base.html.twig' %}

{% block title %}
    Solitude Accompagnée -
    {{ activity.title }}
{% endblock %}

{% block body %}

    <div class="col-detail-activity jumbotron text-center hoverable p-4">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">

                <!-- Featured image -->
                <div class="view overlay">
                    <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}"
                         class="img-fluid img-activity" alt="{{ activity.title }}">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>

                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">

                <!-- Excerpt -->
                <div class="green-text">
                    <h6 class="badge badge-pill badge-info"><i
                                class="fa fa-calendar"></i> {{ activity.eventdate|date ('d-m-Y H:i:s') }}</h6>

                    <h6 class="badge badge-pill badge-warning"><i
                                class="fa fa-google-wallet"></i> {{ activity.category }}</h6>

                    <h6 class="badge badge-pill badge-secondary"><i
                                class="fa fa-building"></i> {{ activity.city.label }}</h6>
                </div>

                <h4 class="h4 mb-4" style="font-size: 30px">{{ activity.title }}</h4>

                <p class="font-weight-normal">{{ activity.description }}</p>
                <h5 class="font-weight-bold">Adresse et/ou lieu de l'activité </h5>
                <p class="font-weight-normal">{{ activity.address }}</p>

                <h5 class="font-weight-bold">Contact </h5>
                <p class="font-weight-normal">Nom de l'hôte
                    : {{ activity.user.firstname }} {{ activity.user.lastname }}</p>
                <p class="font-weight-normal">Email de l'hôte : {{ activity.user.email }}</p>

                <div class="row">
                    <div class="badge badge-participation">
                        <span class="js-label"
                              style="margin-left: 10px; font-family: Moon; color:black">Participer ? </span>

                        <a href="{{ path('activity_participation', {'id':activity.id}) }}" class="btn btn-home btn-participation js-participation
                            {% if app.user and activity.participateByUser(app.user) and  activity.participations | length == activity.maxParticipants %}

                            {% elseif activity.participations | length == activity.maxParticipants %}
                                disabled
                            {% endif %}
                            ">

                            {% if app.user and activity.participateByUser(app.user) %}
                                <i class=" fa fa-times-circle"></i>

                            {% else %}
                                <i class="fa fa-check-circle"> </i>
                            {% endif %}
                            <span class="js-participations"> </span>

                        </a>
                    </div>
                    <div style="margin-left: 20px">
                        <p class="font-weight-bold"> Nombre de participants</p>
                        <p> {{ activity.participations | length }} / {{ activity.maxParticipants }}</p>
                    </div>
            </div>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    {% if app.user != activity.user %}

    {% else %}
        <ul class="title-style">Liste des participants</ul>
        {% for participation in activity.participations %}
            <li class="js-user">{{ participation.user.firstname }} {{ participation.user.lastname }}</li>
            Contact : {{ participation.user.email }}
        {% endfor %}

    {% endif %}
    <hr>

    <a class="btn btn-lg btn-home" href="{{ path('comment_new', {'id': activity.id}) }}" role="button">
        <i class="fa fa-book"></i>
        Ajouter un commentaire
    </a>

    <section class="list-group  mt-4">

        {% for comment in activity.comments %}
            <article class="list-group-item comment-block">
                <div class="comment-small">
                    <small>{{ comment.user.firstname }} {{ comment.user.lastname }}</small>
                    <small>{{ comment.createdAt|date ("m/d/Y") }}</small>
                </div>
                
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.title }}</h5>

                </div>
                <p class="mb-1"></p>
                <small>{{ comment.content }}</small>

            </article>
        {% endfor %}


    </section>
{% endblock %}
