{% extends 'base.html.twig' %}

{% block title %}
    Villes - Solitude Accompagnée
{% endblock %}

{% block body %}
    <div id="map"></div>


    <h2>Liste de nos villes partenaires </h2>
    <div class="row row-cols-1 row-cols-md-4">

        {% for city in cities %}
            <div class="col mb-4 ">
                <div class="card">

                    <a href="{{ path('city_show', {'id': city.id} ) }}">
                        <img src="{{ asset('uploads/cities/' ~ city.picture) }}" class="card-img-top"
                             alt="{{ city.label }}">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title" style="color: white">{{ city.label }}</h5>
                        <a href="{{ path('city_show', {'id': city.id} ) }}" class="btn btn-primary">
                            <i class="fa fa-eye"></i>
                            Voir les activités
                        </a>
                    </div>
                    <div class="card-footer">
                            <span class="badge badge-pill badge-primary" title="Projets">
                                <i class="fa fa-lightbulb-o"></i>
                                {{ city.activities|length }} activité(s)  dans la ville
                            </span>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
    <script>
        // Initialize and add the map
        function initMap() {
            {% for city in cities %}
            // The location of Rennes
            var {{ city.name }} =
            {
                lat: {{ city.lat }},
                lng: {{ city.lng }}}
            ;
            {% endfor %}
            // The map, centered at Rennes
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 8, center: {lat: 48.1113387, lng: -1.6800198}});

            {% for city in cities %}
            const contentString{{ city.name }}= "<p class='text-map'>{{ city.activities|length }} activité(s) proposée(s) dans la ville</p>" + "<br><a href=\"{{ path('city_show', {'id': city.id} ) }}\" class=\"btn btn-map\">Voir les activités à {{ city.name }}\n" +
                "                        </a>";
            const infowindow{{ city.name }} = new google.maps.InfoWindow({
                content: contentString{{ city.name }},
            });
            {% endfor %}

            // The marker, positioned at Rennes
            {% for city in cities %}
            var marker{{ city.name }} = new google.maps.Marker({position: {{ city.name }}, map: map});
            marker{{ city.name }}.addListener('click', () => {
                infowindow{{ city.name }}.open(map, marker{{ city.name }});

            });
            {% endfor %}
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmJxKkG3koTn3nug1lnuFvbsAOFCXnPI&callback=initMap">
    </script>
{% endblock %}

