{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -
    {{ city.label }}
{% endblock %}

{% block body %}
    <div class="container mt-3 text-center">
        <div class="row justify-content-center">
            <div class="col-md-8" id="grid-column">
                <!-- Jumbotron -->
                <div class="jumbotron p-0">

                    <!-- Card image -->
                    <div class="view overlay rounded-top">
                        <img src="{{ asset('uploads/cities/' ~ city.headerphoto) }}" class="img-fluid" alt="Sample image">
                        <div>
                            <div class="mask rgba-white-slight"></div>
                        </div>
                    </div>

                    <!-- Card content -->
                    <div class="card-body text-center mb-3">

                        <!-- Title -->
                        <h3 class="card-title h3 my-4 global-title" ><strong>{{city.name}}</strong></h3>


                    </div>

                </div>
                <!-- Jumbotron -->
            </div>
        </div>
    </div>
    <main class="container">
        <h2 style="margin-top: 20px" >Toutes les activités à {{  city.label }} ({{ city.activities|length }} {% if city.activities|length > 1 %} résultats{% else %} résultat{% endif %})</h2>

        <section class="row projects">
            {% for activity in city.activities %}
                <div class="col-md-6 col-lg-4">
                    {% include 'activity/_card.html.twig' with {'activity': activity} only %}
                </div>
            {% endfor %}
        </section>

    </main>

{% endblock %}
