<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Solitude Accompagnée{% endblock %}</title>
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{# Header navigation#}
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('logo-header.png') }}" width="100"
                                                                   height="90"
                                                                   title="Logo Femories" alt="logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link navbar-item-colors link-header" href="{{ path('activity_index') }}">
                        <i class="fa fa-google-wallet icons-header"></i>
                        Activites
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-header" id="navbarDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        <i class="fa fa-th-large icons-header"></i>
                        Categories
                    </a>
                    <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdown">
                        {{ render(controller('App\\Controller\\DefaultController::searchCategory')) }}
                    </div>

                </li>

                <li class="nav-item ">
                    <a class="nav-link  link-header" href="{{ path('city_index') }}">
                        <i class="fa fa-map-marker icons-header"></i>
                        Villes
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link navbar-item-colors link-header"
                           href="{{ path('user_show', {'id': app.user.id} ) }}">
                            <i class="fa fa-user icons-header"></i>
                            Profil
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item navbar-item-colors"><a class="nav-link navbar-item-colors link-header"
                                                               href="{{ path('admin') }}"><i
                                    class="fa fa-dashboard icons-header"></i>
                            Administration</a></li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item "><a class="nav-link link-logout navbar-item-colors"
                                             href="{{ path('app_logout') }}"><i
                                    class="fa fa-sign-out icons-header"></i> Deconnexion</a></li>
                {% endif %}
                <li class="nav-item dropdown">

                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="main-content container">

    {% block body %}{% endblock %}
</main>

<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #AB66CC">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/RobinRenaudier/" class="btn-floating btn-fb mx-1">
                    <i class="fi-cnsuxl-facebook"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/robin-renaudier" class="btn-floating btn-tw mx-1">
                    <i class="fi-cnsuxl-linkedin"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://github.com/robinrenau" class="btn-floating btn-gplus mx-1">
                    <i class="fi-xnsuxl-github"> </i>
                </a>
            </li>

            <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/CestRobin" class="btn-floating btn-dribbble mx-1">
                    <i class=" fi-cnsuxl-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="mailto:robinrenau@gmail.com" class="btn-floating btn-li mx-1">
                    <i class="fi-xwluxl-envelope-wide"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://solitudeaccompagnee.com/"> solitudeaccompagnee.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>








