<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Solitude Accompagnée{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    {% endblock %}
    <style>
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }</style>
</head>
<body>
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('logo-header.png') }}" width="100" height="90"
                                                                   title="Logo Femories" alt="logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link navbar-item-colors link-header" href="{{ path('activity_index') }}">
                        <i class="fa fa-google-wallet icons-header"></i>
                        Activites
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-header" id="navbarDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        <i class="fa fa-th-large icons-header"></i>
                        Categories
                    </a>
                    <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdown">
                        {{ render(controller('App\\Controller\\DefaultController::searchCategory')) }}
                    </div>

                </li>

                <li class="nav-item ">
                    <a class="nav-link  link-header" href="{{ path('city_index') }}">
                        <i class="fa fa-map-marker icons-header"></i>
                        Villes
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link navbar-item-colors link-header" href="{{ path('user_show', {'id': app.user.id} )}}">
                        <i class="fa fa-user icons-header"></i>
                        Profil
                    </a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item navbar-item-colors"><a class="nav-link navbar-item-colors link-header" href="{{ path('easyadmin') }}"><i class="fa fa-dashboard icons-header"></i>
                            Administration</a></li>
                {% endif %}
                {% if app.user %}
                <li class="nav-item "><a class="nav-link link-logout navbar-item-colors" href="{{ path('app_logout') }}"><i
                                class="fa fa-sign-out icons-header"></i> Deconnexion</a></li>
                {% endif %}
                <li class="nav-item dropdown">

                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="main-content container">

    {% block body %}{% endblock %}
</main>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script> document.querySelectorAll('a.js-participation').forEach(function(link){
        function OnClickBtnParticipation(event){
            event.preventDefault();
            const url = this.href;
            const spanCount = this.querySelector('span.js-participations');
            const spanCount2 = document.querySelector('span#js-participations');
            const icone = this.querySelector('i');

            axios.get(url).then(function(response){

                spanCount.textContent = response.data.participations;
                spanCount2.textContent = response.data.participations;

                if(icone.classList.contains('fa-times-circle'))
                    icone.classList.replace('fa-times-circle','fa-check-circle');
                else
                    icone.classList.replace('fa-check-circle','fa-times-circle' )
            }).catch(function (error) {
                if (error.response.status=== 403){
                    window.alert("Vous ne pouvez pas participer à un évenement si vous n'êtes pas connecté")
                } else{
                    window.alert("Une erreur s'est produite, veuillez réessayer plus tard")
                }

            });
        }
        link.addEventListener('click', OnClickBtnParticipation)
        })</script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $('.dropdown-toggle').dropdown();
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy',
                timepicker : true,
                datepicker : true
            })
        })
    </script>
{% endblock %}

</body>
</html>








