{% extends 'base.html.twig' %}

{% block title %}Votre profil - Solitude Accompagnée{% endblock %}

{% block body %}

    {% if app.user.id != user.id %}
        <div id="app">
            <div>403</div>
            <div class="txt">
                Vous n'avez pas la permission<span class="blink">_</span>
            </div>
        </div>

    {% else %}
        <div class="container" style="margin-top: 20px">
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron hoverable p-4 col-detail-activity ">

                        <div class="card-body">
                            <div class="card-title mb-4">
                                <div class="d-flex justify-content-start">
                                    <div class="image-container">
                                        <img class="img-thumbnail" style="width: 150px; height: 150px" {% if user.profilPicture is null %} src="{{asset('uploads/users/picturedefault.png')}}" {% else %} src="{{asset('uploads/users/'~ user.profilPicture)}}" {% endif %} alt="user" width="50" class="rounded-circle">
                                    </div>
                                    <div class="userData ml-3">
                                        <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{user.firstname}} {{user.lastname}}</h2>
                                        <h6 class="d-block"> {{ user.participations | length }} {% if user.participations|length > 1 %} participations{% else %} participation{% endif %} aux activités</h6>
                                        <h6 class="d-block"> {{user.activities|length}} {% if user.activities|length > 1 %} activités{% else %} activité{% endif %} {% if user.activities|length > 1 %} créées{% else %} créée {% endif %}</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active disabled" style="background-color: #EEE6DE">Infos personnelles</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Prénom & Nom</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{user.firstname}} {{user.lastname}}
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Date de naissance</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ user.dateofbirth|date ('d-m-Y') }}
                                                </div>
                                            </div>
                                            <hr />


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Adresse mail</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{user.email}}
                                                </div>
                                            </div>
                                            <hr />

                                        </div>

                                        <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-index">Modifier votre
                                            profil</a>
                                        <a href="{{ path('app_forgot_password_request') }}" class="btn btn-index">Modifier votre
                                            Mot de passe</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>



        {% if user.activities | length > 0 %}
            <h3 style="font-family: Moon; margin-top: 20px">Mes activites proposees</h3>
        {% endif %}
        <div class="row ">

            {% for activity in user.activities %}
                <div class="col-md-6 col-lg-4" style="margin-bottom: 10px">
                    <div class="card_activity " aria-labelledby="event card">
                        <div class="card_activity__filter">
                            <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}"
                                 class="card_activity__photo"
                                 alt="{{ activity.title }}">
                        </div>
                        <div class="card_activity__container">
                            <h4 class="card-title">{{ activity.title }}</h4>
                            <time> Créé le : {{ activity.CreatedAt|date ("d/m/Y") }} </time>
                            <p>{{ activity.address }}</p><br>
                            <span class="badge badge-pill badge-primary" title="Catégorie">
                        <i class="fa fa-tag"></i>{{ activity.category.label }}
                    </span><br>
                            <span class="badge badge-pill badge-info" title="Date de l'activité">
                        <i class="fa fa-calendar"></i>
                        {{ activity.eventdate|date('d/m/Y') }}
                    </span>
                            <div class="card_activity__buttons">
                                <a href="{{ path('activity_show', {'slug': activity.slug} ) }}"
                                   class="card_activity__buttons btn primary"
                                   role="button" aria-haspopup="false">
                                    Details
                                </a>
                            </div>
                            <div class="card_activity__buttons">
                                <a href="{{ path('activity_edit', {'id': activity.id} ) }}" class="btn btn-light-blue">

                                    Modifier</a>
                                {{ include('activity/_delete_form.html.twig') }}
                            </div>

                        </div>


                    </div>

                </div>
            {% endfor %}

        </div>

        {% if user.participations | length > 0 %}
            <h3 style="font-family: Moon; margin-top: 20px">Mes participations aux activites</h3>
        {% endif %}
        <div class="row ">

            {% for participation in user.participations %}
                <div class="col-md-6 col-lg-4" style="margin-bottom: 10px">
                    <div class="card_activity " aria-labelledby="event card">
                        <div class="card_activity__filter">
                            <img src="{{ asset('uploads/categories/' ~ participation.activity.category.picture) }}"
                                 class="card_activity__photo"
                                 alt="{{ participation.activity.title }}">
                        </div>
                        <div class="card_activity__container">
                            <h4 class="card-title">{{ participation.activity.title }}</h4>
                            <time> Créé le : {{ participation.activity.CreatedAt|date ("d/m/Y") }} </time>
                            <p>{{ participation.activity.address }}</p><br>
                            <span class="badge badge-pill badge-primary" title="Catégorie">
                        <i class="fa fa-tag"></i>{{ participation.activity.category.label }}
                    </span><br>
                            <span class="badge badge-pill badge-info" title="Date de l'activité">
                        <i class="fa fa-calendar"></i>
                        {{ participation.activity.eventdate|date('d/m/Y') }}
                    </span>
                            <div class="card_activity__buttons">
                                <a href="{{ path('activity_show', {'slug': participation.activity.slug} ) }}"
                                   class="card_activity__buttons btn primary"
                                   role="button" aria-haspopup="false">
                                    Details
                                </a>
                            </div>

                        </div>


                    </div>

                </div>
            {% endfor %}

        </div>
    {% endif %}
{% endblock %}
