{% extends 'base.html.twig' %}

{% block title %}Votre profil - Solitude Accompagnée{% endblock %}

{% block body %}

        <div class="container" style="margin-top: 20px">
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron hoverable p-4 col-detail-activity ">

                        <div class="card-body">
                            <div class="card-title mb-4">
                                <div class="d-flex justify-content-start">
                                    <div class="image-container">
                                        <img class="img-thumbnail"
                                             style="width: 100px; height: 100px" {% if user.profilPicture is null %} src="{{ asset('uploads/users/picturedefault.png') }}" {% else %} src="{{ asset('uploads/users/'~ user.profilPicture) }}" {% endif %}
                                             alt="user"  class="rounded-circle">
                                    </div>
                                    <div class="userData ml-3">
                                        <h4 class="h4-responsive"
                                            >{{ user.firstname }} {{ user.lastname }}</h4>
                                        <h6 class="d-block"> {{ user.participations | length }} {% if user.participations|length > 1 %} participations{% else %} participation{% endif %}
                                            aux activités</h6>
                                        <h6 class="d-block"> {{ user.activities|length }} {% if user.activities|length > 1 %} activités{% else %} activité{% endif %} {% if user.activities|length > 1 %} créées{% else %} créée {% endif %}</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                               value="Discard Changes"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active disabled" style="background-color: #E9ECEF"><i class="fi-xtluxl-address-card-thin" style="margin-right: 5px"></i>Infos
                                                personnelles</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active text-md-left" id="basicInfo" role="tabpanel"
                                             aria-labelledby="basicInfo-tab">


                                            <div class="row">
                                                <div class="col-sm-12 col-md-4">
                                                    <label class="font-weight-bold global-title"><i class="fi-xtluxl-user-thin" style="margin-right: 5px"></i>Identite</label>
                                                </div>
                                                <div class="col-md-8 col-sm-12">
                                                    <p class="font-weight-normal">{{ user.firstname }} {{ user.lastname }}</p>
                                                </div>
                                            </div>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-12 col-md-4">
                                                    <label class="font-weight-bold global-title"><i class="fi-xtluxl-balloon-thin" style="margin-right: 5px"></i>Date de naissance</label>
                                                </div>
                                                <div class="col-md-8 col-sm-12">
                                                    <p class="font-weight-normal">{{ user.dateofbirth|date ('d-m-Y') }}</p>
                                                </div>
                                            </div>
                                            <hr/>


                                            <div class="row">
                                                <div class="col-sm-12 col-md-4">
                                                    <label class="font-weight-bold global-title"><i class="fi-xtluxl-envelope-thin" style="margin-right: 5px"></i>Email</label>
                                                </div>
                                                <div class="col-md-8 col-sm-12">
                                                    <p class="font-weight-normal">{{ user.email }}</p>
                                                </div>
                                            </div>
                                            <hr/>

                                        </div>

                                        <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-md btn-index"><i class="fi-xtluhl-edit-thin" style="margin-right: 5px"></i>Modifier
                                            votre
                                            profil</a>
                                        <a href="{{ path('app_forgot_password_request') }}" class="btn btn-md btn-home"> <i class="fi-xtluxl-key-alt-thin" style="margin-right: 5px"></i>Modifier
                                            votre
                                            Mot de passe</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>



        {% if user.activities | length > 0 %}
            <hr>
            <h3 class="h3-responsive global-title" style="margin-top: 20px">Mes activites proposees</h3>
        {% endif %}
        <div class="row ">

            {% for activity in user.activities %}
                <div class="col-md-6 col-lg-4" style="margin-bottom: 10px">
                    <div class="card_activity " aria-labelledby="event card">
                        <div class="card_activity__filter">
                            <img src="{{ asset('uploads/categories/' ~ activity.category.picture) }}"
                                 class="card_activity__photo"
                                 alt="{{ activity.title }}">
                        </div>
                        <div class="card_activity__container">
                            <h4 class="card-title">{{ activity.title }}</h4>
                            <time> Créé le : {{ activity.CreatedAt|date ("d/m/Y") }} </time>
                            <p>{{ activity.address }}</p><br>
                            <span class="badge badge-pill badge-primary" title="Catégorie">
                        <i class="fa fa-tag"style="margin-right: 10px"></i>{{ activity.category.label }}
                    </span><br>
                            <span class="badge badge-pill badge-info" title="Date de l'activité">
                        <i class="fa fa-calendar"style="margin-right: 10px"></i>
                        {{ activity.eventdate|date('d/m/Y') }}
                    </span>
                            <div class="card_activity__buttons">
                                <a href="{{ path('activity_show', {'slug': activity.slug} ) }}"
                                   class="card_activity__buttons btn primary"
                                   role="button" aria-haspopup="false">
                                    Details
                                </a>
                            </div>
                            <div class="card_activity__buttons">
                                <a href="{{ path('activity_edit', {'id': activity.id} ) }}" class="btn btn-light-blue">

                                    Modifier</a>
                                {{ include('activity/_delete_form.html.twig') }}
                            </div>

                        </div>


                    </div>

                </div>
            {% endfor %}

        </div>
    <hr>
        {% if user.participations | length > 0 %}
            <h3 class="h3-responsive global-title" style=" margin-top: 20px">Mes participations aux activites</h3>
        {% endif %}
        <div class="row ">

            {% for participation in user.participations %}
                <div class="col-md-6 col-lg-4" style="margin-bottom: 10px">
                    <div class="card_activity " aria-labelledby="event card">
                        <div class="card_activity__filter">
                            <img src="{{ asset('uploads/categories/' ~ participation.activity.category.picture) }}"
                                 class="card_activity__photo"
                                 alt="{{ participation.activity.title }}">
                        </div>
                        <div class="card_activity__container">
                            <h4 class="card-title">{{ participation.activity.title }}</h4>
                            <time> Créé le : {{ participation.activity.CreatedAt|date ("d/m/Y") }} </time>
                            <p>{{ participation.activity.address }}</p><br>
                            <span class="badge badge-pill badge-primary" title="Catégorie">
                        <i class="fa fa-tag"style="margin-right: 10px"></i>{{ participation.activity.category.label }}
                    </span><br>
                            <span class="badge badge-pill badge-info" title="Date de l'activité">
                        <i class="fa fa-calendar" style="margin-right: 10px"></i>
                        {{ participation.activity.eventdate|date('d/m/Y') }}
                    </span>
                            <div class="card_activity__buttons">
                                <a href="{{ path('activity_show', {'slug': participation.activity.slug} ) }}"
                                   class="card_activity__buttons btn primary"
                                   role="button" aria-haspopup="false">
                                    Details
                                </a>
                            </div>

                        </div>


                    </div>

                </div>
            {% endfor %}

        </div>

{% endblock %}
